h1 {
    color: gold;
    background-color: darkgrey;
    text-align: center;
}

ul {
    border: 12px dotted crimson;
    background-color: darkgreen;
    padding: 8px;
    display: inline-block;
    margin: auto;
}

li {
    list-style: none;
    margin-top: 8px;
    padding: 12px 12px 12px 48px;
    background-color: white;
    
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 8px;
    display: block;
    color:red;
}

a:hover {
    background-color: darkgreen;
    
}

.pizza {background-image: url('../img/pizza.jpg');}
.salad {background-image: url('../img/salad.png');}
.gyro  {background-image: url('../img/gyro.png');}
